<div class="container" (click)="teste()">
    <div class="top-side">
        <div id="infoTags">
            <p style="color: #C9D971;">Carro em Leilão</p>
            <div id="arrows">
                <div id="arrowLeft">
                </div>
                <p>Popular</p>
                <div id="arrowRight"></div>
            </div>
        </div>
        <div id="grayBar"></div>
        <div id="grayInside">
            <div id="arrowLeft"></div>
            <div id="carLogo"></div>
            <p>GOLF COMFORTLINE</p>
            <div id="arrowRight"></div>
        </div>
    </div>
    <div id="car">
        <img src="{{ imagePath }}" alt="" srcset="">
    </div>
    <div class="bottom-side">
        <div id="info">
            <p>Motorização: Motor 1.5 Flex<br>
                Tipo de Câmbio: Manual<br>
                Quilometragem: 60.000 km<br>
                Combustível: Gasolina
            </p>
        </div>
        <div id="status" class="bottom-side-sec">
            <div id="section">
                <div>
                    <p>Motor</p>
                    <div id="bar">
                        <div id="circle"></div>
                    </div>
                </div>
                <div>
                    <p>Motor</p>
                    <div id="bar">
                        <div id="circle"></div>
                    </div>
                </div>
                <div>
                    <p>Motor</p>
                    <div id="bar">
                        <div id="circle"></div>
                    </div>
                </div>
            </div>
            <div id="section">
                <div>
                    <p>Motor</p>
                    <div id="bar">
                        <div id="circle"></div>
                    </div>
                </div>
                <div>
                    <p>Motor</p>
                    <div id="bar">
                        <div id="circle"></div>
                    </div>
                </div>
                <div>
                    <p>Motor</p>
                    <div id="bar">
                        <div id="circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="auction-sec" class="bottom-side-sec">
            <p>Lance atual</p>
            <p>R$ 14.000,00</p>
            <a href="#">Entrar</a>
        </div>
    </div>
</div>