<div class="container">
    <div class="top-side">
        <div id="infoTags">
            <p style="color: #C9D971;">Carro em Leilão</p>
            <div id="arrows">
                <p>{{ category }}</p>
            </div>
        </div>
        <div id="grayBar"></div>
        <div id="grayInside">
            <div id="carLogo">
                <img src="{{ car?.logoSrc }}" alt="">
            </div>
            <p> {{ car?.name }} </p>
        </div>
    </div>
    <div id="center">
        <div id="car">
            <img src="{{ car?.carSrc}}" alt="" srcset="">
        </div>
        <div id="side">
            <div id="buttons">
                <a (click)="showBids()" [ngClass]="{'selected': showingBids}">Lances</a>
                <a (click)="showComments()" [ngClass]="{'selected': showingComments}">Comentarios</a>
            </div>
            <div id="list-bids" *ngIf="showingBids">
                <div *ngFor="let bid of (car?.bids || []).slice().reverse()">
                    <div id="users">
                        <p>{{ bid.user }} - R$ {{ bid.bidAmount }}</p>
                    </div>
                </div>
            </div>
            <div id="list-comments" *ngIf="showingComments">
                <div *ngFor="let comment of car?.comments || []">
                    <div id="users">
                        <p>{{ comment.user }} - {{ comment.text }}</p>
                    </div>
                </div>
                <div id="send">
                    <input type="text" placeholder="Comente algo" [(ngModel)]="commentText">
                    <a (click)="sendComment()">Enviar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-side">
        <div id="auction-sec" class="bottom-side-sec">
            <p>Lance atual</p>
            <p>R$ {{ currentPrice }} </p>
        </div>
        <div id="status" class="bottom-side-sec">
            <div>
                <p>Tempo Restante: {{ time }}</p>
                <div id="bar-container">
                    <div id="bar" [style.width.%]="progress">
                        <div id="circle"></div>
                    </div>
                </div>
            </div>
            <div id="baragada">
                <a (click)="send(1)">R$ 500</a>
                <a (click)="send(2)">R$ 1000</a>
                <a (click)="send(3)">R$ 1500</a>
                <a (click)="send(4)">R$ 2000</a>
            </div>
        </div>
    </div>
</div>